## project for simulation or FPGA implement
**/vivado/
**/modelsim/
**/questasim/
**/quartus/
**/verilator/

## temp files
# system temp
**/.DS_Store/
**/Thumb.db/
# vscode temp
**/.vscode/
# vim temp
*.swp


